<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class="container text-center" style="margin-top: 30px;">
	<h1>Welcome to The Gossip Project</h1>
	<br/>
	<h2><a href="../gossips/new">Click here to create a new gossip</a></h2>
	<br/>
	<h2>Here is the list of all Gossips:</h2>
	<br/>
</div>



	<div class="container d-flex flex-wrap justify-content-center" style="max-width: 100%">

		<% @gossip.each do |gossip| %>



		<div class="col-md-3" style="margin: 30px 30px 30px 30px;">
			<div class="card" style="width: 18rem; height: auto;">
				<img class="card-img-top" src="/Gossip.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title"><span style="color: red">Gossip n°<%= gossip.id%></span> : <%=gossip.title%></h5>
					<p class="card-text">Author : <%=gossip.user.first_name%><br/>
						Description : <%=gossip.content%></p>
						<a href="gossips/<%= gossip.id%>" class="btn btn-primary">Know more</a>
					</div>
				</div>
			</div>

			<%end%>
		</div>

	</body>
	</html>

